
/*
================================================================================
SCROLLBAR FIX
================================================================================
*/
body,
html {
  /*width:100vw;*/
  margin: 0;
  padding: 0;
  /*overflow-x: hidden; */
}

/*
================================================================================
SCROLLBAR STYLE
================================================================================
*/
  

/*width*/
/*
body::-webkit-scrollbar {
width:8px;
}

/*thumb*/
/*
body::-webkit-scrollbar-thumb {
background:rgb(155, 37, 87);
}

/*
body {overflow-y:hidden;}
body:hover {overflow-y:scroll;}
*/
/*track
::-webkit-scrollbar-track {
  background:rgb(245, 244, 241);
}
*/

/*FIREFOX SCROLLBAR */
/*
body {
    scrollbar-width: thin;
    scrollbar-color: #9b2557;
  }

*/

/*
================================================================================
NO SELECTION
================================================================================
*/

.nosel {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


/*
================================================================================
iOS HIGHLIGHT COLOR FIX
================================================================================
*/
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    }

    

/*
================================================================================
ANIMATE ON RESIZE
================================================================================
*/
  /*
  section, h1, h2, h3, p, li, img {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}



/*
================================================================================
MENU 
================================================================================
*/
  
.underline::before {
    content: "";
    border-bottom: solid 3px #9b2557;
   position: absolute;
   /* bottom: 0.8em;*/
    left: -1.25em;
    width: 1em;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
  }
  .underline:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  @-webkit-keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  @keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  
  /* vidi šta je ovo nešto za mobilni menu */
  @media only screen and (max-width: 992px) {
    li {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

/*
================================================================================
CURRENT
================================================================================
*/
.nav-link.w-inline-block.w--current:before {
    content: "";
  border-bottom: solid 3px #9b2557;
 position: absolute;
  left: -1.25em;
  width: 1em;
   
}


/*
================================================================================
TXT SELECT
================================================================================
*/
::selection {
background: #9b2557; /* Safari */
color: #f5f4f1; 
text-shadow: none;}

::-moz-selection {
   background: #9b2557; /* Firefox */
   color: #f5f4f1;
}



/*
================================================================================
BEN MINGO FONT SMOOTH - TEST
================================================================================
*/
html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased
  }



/*
================================================================================
IMAGE BLEND MODE
================================================================================
*/

.newswrap:focus .card__blend-colour, .newswrap:hover .card__blend-colour {
  background-color: #9B2557;
}


.newswrap:focus .card__image, .newswrap:hover .card__image {
  mix-blend-mode: screen;
}

.card__image--transition {
  transition: 0.3s ease all;
  transition-delay: 0s;
  mix-blend-mode: screen;
}

.card__image {
  transform: translateZ(0);
}

/*
================================================================================
NTH CHILDS
================================================================================
*/

.newswrap:nth-last-child(-n+3) {
    border-bottom: 3px solid #9b2557;
    
  }

.claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 3px solid #9b2557;
    
  }
  
/*
================================================================================
SWIPER HOME
================================================================================
*/

.swiper-pagination {
	/*position: absolute;
	bottom: 2.000em;
	right: "50%";
	width: auto !important;
	left: auto !important;
	margin: 0;*/
}
.swiper-pagination-bullet {
transform-origin: top left;
   margin-right: 1.200em;
    border-radius: 0 !important;
    width:4em; 
    height: 3px; 
    opacity: 1;
    margin-bottom: 0.5em;
    background-color: #9b2557; 
    outline: none !important;
    box-shadow: none;
    transform: scaleX(1);
    transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
	background-color: #9b2557 !important;
    outline: none !important;
    box-shadow: none;
     transform: scaleX(0.5);
    transition: all 0.3s ease 0s;
   }

.swiper-container .swiper-wrapper .swiper-slide-active .up {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}


.swiper-container .swiper-wrapper .swiper-slide-active .up:nth-child(2) {
  animation-delay: 0.5s;
}
.swiper-container .swiper-wrapper .swiper-slide-active .up__link:nth-child(1) {
  animation-delay: 0.2s;
}


@keyframes fade-in {
  from {
    opacity: 0;
   /* transform: translateY(100px);*/
  }
  to {
    opacity: 1;
  /*  transform: translateY(0); */
  }
}

  /*
================================================================================
SWIPER FIX
================================================================================
*/

.swiper-pagination {

    z-index: 2 !important;
}

/*
================================================================================
SEARCH
================================================================================
*/
 
.w-input, .w-select {
    color: #f5f4f1;
}

.w-input:focus, .w-select:focus {
    border-color: #f5f4f1;
}

.search-button:focus {
outline: none;
}
  
/* SEARCH INPUT TEXT COLOR */ 
  input[type="search"]::placeholder {
    color: #f5f4f1;
}

/*
================================================================================
KILL WEBFLOW BADGE
================================================================================
*/
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
  }


/*
================================================================================
ROTATE OVERTEXT
================================================================================
*/

.is--rotate {
    -webkit-transform-style: preserve-3d;
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 

    -webkit-transform: translateY(-90deg);
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:left bottom;


    -moz-transform: translateY(-90deg);
    -moz-transform-origin: left bottom; 

    -ms-transform: translateY(-90deg);
   -ms-transform-origin:left bottom; 

    -o-transform: translateY(-90deg);

    transform: translateY(-90deg);
    transform: rotate(-90deg);


    transform-origin: left bottom;

}



/*
================================================================================
MEDIA QUERY
================================================================================
*/
/*
@media (max-width: 699px) {
  html {
  font-size:12px
  }
  }
  @media (min-width: 700px) and (max-width:999px) {
  html {
  font-size:13px
  }
  }
  @media (min-width: 1000px) and (max-width:1199px) {
  html {
  font-size:14px
  }
  }
  @media (min-width: 1200px) and (max-width:1599px) {
  html {
  font-size:16px
  }
  }
  @media (min-width: 1600px) and (max-width:1999px) {
  html {
  font-size:18px
  }
  }
  @media (min-width: 2000px) and (max-width:2399px) {
  html {
  font-size:21px
  }
  }
  @media (min-width: 2400px) {
  html {
  font-size:24px
  }
  }
*/

/*
================================================================================
TEXT SINGLE PAGE
================================================================================
*/
.swiper-button-n:focus,
.swiper-button-p:focus { 
outline: none; }