/*
================================================================================
SCROLLBAR FIX
================================================================================
*/
/*
body,
html {
  
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

*/

/*
================================================================================
100 vh fix / MOBILE MENU
================================================================================
*/

.mobilemenu {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}

/*
================================================================================
SCROLLBAR STYLE
================================================================================
*/
/*width*/

body::-webkit-scrollbar {
width:6px;
}

/*thumb*/

body::-webkit-scrollbar-thumb {
background:rgb(155, 37, 87);
}

/*
body {overflow-y:hidden;}
body:hover {overflow-y:scroll;}
*/
/*track
::-webkit-scrollbar-track {
  background:rgb(245, 244, 241);
}
*/

/*FIREFOX SCROLLBAR */
/*
body {
    scrollbar-width: thin;
    scrollbar-color: #9b2557;
  }

*/

/*
================================================================================
TRANSFORM ALL TO LOWERCASE
================================================================================
*/

h1 {
  text-transform: lowercase;
}



/*
================================================================================
NO SELECTION
================================================================================
*/

.nosel {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


/*
================================================================================
iOS HIGHLIGHT COLOR FIX
================================================================================
*/
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    }

    


/*
================================================================================
ANIMATE ON RESIZE
================================================================================
*/
 /*
  section, h1, h2, h3, p, li, img {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}
*/
body {
-webkit-transition: all 1000ms ease-in-out;
transition: all 1000ms ease-in-out;
}
/*
================================================================================
MENU 
================================================================================
*/
  
.underline::before {
    content: "";
    border-bottom: solid 3px #9b2557;
   position: absolute;
   /* bottom: 0.8em;*/
    left: -1.25em;
    width: 1em;
    
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
  }
  .underline:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    
  }


  @-webkit-keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  @keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  
  /* vidi šta je ovo nešto za mobilni menu */
  /*
  @media only screen and (max-width: 992px) {
    li {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
*/
/*
================================================================================
CURRENT
================================================================================
*/


.active:before {
  content: "";
border-bottom: solid 3px #9b2557;
position: absolute;
left: -1.25em;
width: 1em;
 
}



/*
.current-menu-ancestor {
	color: white;
}



.current-page-item
 {
	color: rgb(24, 199, 76);
}
/*
.nav-link.w-inline-block.current-page-item {
	color: white;
}

*/

/*
.nav-link.w-inline-block.w--current:before {
    content: "";
  border-bottom: solid 3px #9b2557;
 position: absolute;
  left: -1.25em;
  width: 1em;
   
}
*/


/* MOŽDA I OVO TREBA UGASITI */
/*
.sub-link.w-inline-block.w--current:before {
  content: "";
border-bottom: solid 3px #9b2557;
position: absolute;
left: -1.25em;
width: 1em;
 }

.sub-link.w-inline-block.w--current  {
margin-left: 1.25em;

 
}
*/



/*
================================================================================
TXT SELECT
================================================================================
*/

::selection {
background: #9b2557; 
color: #f5f4f1; 
text-shadow: none;}

::-moz-selection {
   background: #9b2557;
   color: #f5f4f1;
}





/*
================================================================================
BEN MINGO FONT SMOOTH - TEST
================================================================================
*/
html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased
  }

  /*
================================================================================
IMAGE PROPORTIONAL
================================================================================
*/

  .vertical{
    width: calc(12em*21/29.7);
   
  }

  .horizontal{
    width: calc(12em*29.7/21);

  }



  .verticalx{
    width: calc(13em*21/29.7);
 
  }
  
  .horizontalx{
    width: calc(15em*29.7/21);
 
  }



/*
================================================================================
IMAGE BLEND MODE
================================================================================
*/

.newswrap:focus .card__blend-colour, .newswrap:hover .card__blend-colour {
  background-color: #9B2557;
  
}
.newswrap:focus .card__image, .newswrap:hover .card__image {
  mix-blend-mode: screen;
}

.newswrapfix:focus .card__blend-colour, .newswrapfix:hover .card__blend-colour {
    background-color: #9B2557;
  }
.newswrapfix:focus .card__image, .newswrapfix:hover .card__image {
    mix-blend-mode: screen;
  }

.projektho:focus .card__blend-colour, .projektho:hover .card__blend-colour {
    background-color: #9B2557;
  }
.projektho:focus .card__image, .projektho:hover .card__image {
    mix-blend-mode: screen;
  }

.card__image--transition {
  transition: 0.3s ease;
  transition-delay: 0s;
  mix-blend-mode: normal;
  background-color: #000000;
 
}


.card__image, .image-2, .swiper-image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  transform: translateZ(0);
}

/*
================================================================================
NTH CHILDS
================================================================================
*/

.newname{
  border-bottom: 1px solid #9b2557;
}

.child:nth-child(1) .newname {
  border-top: 3px solid #9b2557;
}

.child:nth-last-child(1) .newname {
  border-bottom: 3px solid #9b2557;
}

/* NEWS BOX HOMEPAGE I ?*/
.newswrap:nth-last-child(-n+3) {
  border-bottom: 3px solid #9b2557;
}

.claniceminigrid:nth-last-child(-n+3) {
  border-bottom: 3px solid #9b2557;  
}

.contactwrap:nth-last-child(-n+4) {
  border-bottom: 3px solid #9b2557;  
}

.search-grid-auto:nth-child(1) {
  border-top: 3px solid #9b2557;
}

.search-grid-auto:nth-last-child(1) {
  border-bottom: 3px solid #9b2557;
}

ul {

    list-style-type: none;


}

/*
================================================================================
HOME TAB BEFORE
================================================================================
*/




 

  /*
  .doc-grid-item:nth-of-type(1) {
    border-top: 3px solid #9b2557;
    
  }
  
  .doc-grid-item:nth-last-of-type(1) {
    border-bottom: 3px solid #9b2557;
    
  }
  
  .docsolowrap:nth-last-of-type(n+1) {
    border-bottom: 3px solid #9b2557;
    
  }

  .projectsolowrapfix:nth-last-of-type(-n+2) {
    border-bottom: 3px solid #9b2557;
   }
  
  .projectsolowrapfix:nth-of-type(1) {
    border-top: 3px solid #9b2557;
   }

   .contactwrap:nth-last-child(-n+2) {
    border-bottom: 3px solid #9b2557;
    padding-bottom: 3rem;
  }

  .searchcontentwrap:nth-last-child(1) {
    border-bottom: 3px solid #9b2557;
    
  }
  
  
/*
================================================================================
SWIPER HOME
================================================================================
*/
/*
.swiper-pagination {
	/*position: absolute;
	bottom: 2.000em;
	right: "50%";
	width: auto !important;
	left: auto !important;
	margin: 0;
}
*/
.swiper-pagination-bullet {
transform-origin: top left;
   margin-right: 1.200em;
    border-radius: 0 !important;
    width:4em; 
    height: 3px; 
    opacity: 1;
    margin-bottom: 0.5em;
    background-color: #9b2557; 
    outline: none !important;
    box-shadow: none;
    transform: scaleX(1);
    transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
	background-color: #9b2557 !important;
    outline: none !important;
    box-shadow: none;
     transform: scaleX(0.5);
    transition: all 0.3s ease 0s;
   }

.swiper-container .swiper-wrapper .swiper-slide-active .up {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}


.swiper-container .swiper-wrapper .swiper-slide-active .up:nth-child(2) {
  animation-delay: 0.4s;
}
.swiper-container .swiper-wrapper .swiper-slide-active .up__link:nth-child(1) {
  animation-delay: 0.2s;
}


@keyframes fade-in {
  from {
    opacity: 0;
   /* transform: translateY(100px);*/
  }
  to {
    opacity: 1;
  /*  transform: translateY(0); */
  }
}

  /*
================================================================================
SWIPER FIX
================================================================================
*/

.swiper-pagination {

    z-index: 1 !important;
}

/*
================================================================================
SEARCH
================================================================================
*/
 /*
.w-input, .w-select {
    color: #f5f4f1;
}

.w-input:focus, .w-select:focus {
    border-color: #f5f4f1;
}
*/
/* .search-button:focus, .search-field:focus {
outline: none;
} */
  
/* SEARCH WORDPRESS FIX */
.search-field {
  color: #f5f4f1;
  height: 1.3em;
  padding-right: .5em;
  border-style: solid;
  border-width: 0 0 3px;
  border-color: #000 #000 #f5f4f1;
  background-color: transparent;
  font-size: 6.75em;
  line-height: 1;
  letter-spacing: -.024em;
}


.search-submit{
  width: 6em;
  height: 6em;
z-index: 10;
  background-color: transparent;
  line-height: 1;
  letter-spacing: -.024em;
  cursor: pointer;
 
}

input[type="submit" i] {
  appearance: auto!important;
  color: -internal-light-dark(black, white);
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  border-style: none!important;
  border-color: transparent;  
}

/*SEARCH BUTTON POSITION*/
.div-block-2 {
  top: 6em!important;
 right: -1em!important;
 }


/*
 label {
  display: none!important;
}
*/
/*
.image {
position: absolute;
user-select: none;

}
*/
/* SEARCH INPUT TEXT COLOR */ 
  input[type="search"]::placeholder {
    color: #f5f4f1;
}

/*
================================================================================
KILL WEBFLOW BADGE
================================================================================
*/
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
  }


/*
================================================================================
ROTATE OVERTEXT
================================================================================
*/
.is--rotate {
  -webkit-transform-style: preserve-3d;
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 

  -webkit-transform: translateY(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:left bottom;


  -moz-transform: translateY(-90deg);
  -moz-transform-origin: left bottom; 

  -ms-transform: translateY(-90deg);
 -ms-transform-origin:left bottom; 

  -o-transform: translateY(-90deg);

  transform: translateY(-90deg);
  transform: rotate(-90deg);


  transform-origin: left bottom;

}



/*
================================================================================
OHOHO
================================================================================
*/

.ohohoone {
    display: block;
  }
  
  .ohohotwo {
    display:none;
    }
    
   .ohohowrap:hover .ohohoone {
    display: none;
  }
  
  .ohohowrap:hover .ohohotwo {
    display: block;
  } 


/*
================================================================================
RICH IMAGE FIX
================================================================================
*/

/*
.alignleft {
  max-width: 25em;
  float: left;
  margin-right: 15px;
  clear: none;
  position: absolute;
  right: 50%;
  left: auto;
}


*/

.richtxt p {
  position: relative;
  margin-bottom: 1em;

}



.alignleft,
img.alignleft, .alignone {
    display: inline;
  margin-right: 1.5em;
  position: absolute;
  left: -45.5vw;
top: 0;
right: 0;
bottom: 0;
/*margin: 0 1em 1em 0;*/
  max-width: 25em;
  max-height: 45em;
}

.aligncenter, .alignright  {
  float: none;
  margin: 1.5em auto 1.5em;
}





/*
.alignright,
img.alignright {
    display: inline;
    float: right;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
     clear: both;
}
*/
/*
    .current_page_item,
    .current-menu-ancestor {
      color: white;
    }
    */
    /*
    .nav-link a, .current-page-item    
    {
      color: white;
    }
*//*
    .nav-link.w-inline-block.current-page-item:before {
      border-bottom: solid 2px #9b2557;
      }
    */

    /*
================================================================================
WP CURRENT MENU NE RRRRAAAADDDIII
================================================================================
*/
/*
      .current-menu-item:before {
        content: "--*";
        border-bottom: solid 3px #9b2557;
        position: absolute;
        left: -1.25em;
        width: 1em;
        }
      */
    
/*
================================================================================
MEDIA QUERY
================================================================================
*/

@media (max-width: 699px) {


  .verticalx{
    width: calc(7em*21/29.7);
   /* height: 18em; */
  }
  
  .horizontalx{
    width: calc(5em*29.7/21);
   /* height: 18vh;*/
  }

/*
  .newswrapfix:nth-last-child(-n+1) .newsminigrid {
    border-bottom: 3px solid #9b2557;
  }

*/
/* RICH TEXT FOTKA CENTAR*/
  .w-richtext figure.w-richtext-align-floatleft {
    width: 100%;
    max-width: 100%;
    text-align: center;
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto;
}








  /*
  .contactwrap, .footersponzorwrap  {
    border-top: 2px solid #9b2557;
}
  .child:nth-child(1) .newname {
    border-top: 2px solid #9b2557;
  }
  
  .child:nth-last-child(1) .newname {
    border-bottom: 2px solid #9b2557;
  }
  
  .newswrap:nth-last-child(-n+3) {
    border-bottom: 2px solid #9b2557;
  }
  
  .claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 2px solid #9b2557;  
  }
*/

  /*
  .claniceminigrid, .newsminigrid {
    border-top: 2px solid #9b2557;  
  }
  */



/*
PROVJERI OVO NAKNADNO JE UGAŠENO PA MOŽDA NEŠTO RADI
  .nav-link.w-inline-block.w--current:before {
  border-bottom: solid 2px #9b2557;
  }
  .swiper-pagination-bullet {
  height: 2px;
  }
  */


  /*
  .child2:nth-child(1) .newname {
    border-top: 2px solid #9b2557;
  }
  .child2:nth-last-child(1) .newname {
    border-bottom: 2px solid #9b2557;
  }

*/
  .swiper-pagination {
    display: none!important;
}


   
}


@media (min-width: 480px) and (max-width:767px) {
  .mobile-li {
    margin-bottom: 0;
}



}
 
@media (min-width: 700px) and (max-width:999px) {

/* RICH TEXT FOTKA CENTAR*/
.w-richtext figure.w-richtext-align-floatleft {
  width: 100%;
  max-width: 100%;
  text-align: center;
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}







/*
  .contactwrap, .footersponzorwrap {
    border-top: 2px solid #9b2557;
}

  .child:nth-child(1) .newname {
    border-top: 2px solid #9b2557;
  }
  
  .child:nth-last-child(1) .newname {
    border-bottom: 2px solid #9b2557;
  }
  
  .newswrap:nth-last-child(-n+3) {
    border-bottom: 2px solid #9b2557;
  }
  
  .claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 2px solid #9b2557;  
  }

/*
  .claniceminigrid, .newsminigrid {
    border-top: 2px solid #9b2557;  
  }*/


/*
OVO JE UGAŠENO 
  .nav-link.w-inline-block.w--current:before, .underline::before {
    border-bottom: solid 2px #9b2557;
  }
  */


  .swiper-pagination-bullet {
    height: 2px;
  }

  /*
  .child2:nth-child(1) .newname {
    border-top: 2px solid #9b2557;
  }
  .child2:nth-last-child(1) .newname {
    border-bottom: 2px solid #9b2557;
  }
   
  */
  .swiper-pagination {
    display: none!important;
}


}
  @media (min-width: 1000px) and (max-width:1199px) {


    /* RICH TEXT FOTKA CENTAR*/
  .w-richtext figure.w-richtext-align-floatleft {
    width: 100%;
    max-width: 100%;
    text-align: center;
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto;
}




    /*
  .contactwrap, .footersponzorwrap  {
    border-top: 3px solid #9b2557;
}
  .child:nth-child(1) .newname {
    border-top: 3px solid #9b2557;
  }
  
  .child:nth-last-child(1) .newname {
    border-bottom: 3px solid #9b2557;
  }
  
  .newswrap:nth-last-child(-n+3) {
    border-bottom: 3px solid #9b2557;
  }
  
  .claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 3px solid #9b2557;  
  }



  /*
  .claniceminigrid, .newsminigrid {
    border-top: 3px solid #9b2557;  
  }
  */


/*
  .nav-link.w-inline-block.w--current:before, .underline::before {
    border-bottom: solid 3px #9b2557;
  }
  */
  .swiper-pagination-bullet {
    height: 3px;
  }

  /*
  .child2:nth-child(1) .newname {
    border-top: 3px solid #9b2557;
  }
  .child2:nth-last-child(1) .newname {
    border-bottom: 3px solid #9b2557;
  }

*/

}
  @media (min-width: 1200px) and (max-width:1599px) {



    /*
    .contactwrap, .footersponzorwrap  {
      border-top: 3px solid #9b2557;
  }
    .child:nth-child(1) .newname {
      border-top: 3px solid #9b2557;
    }
    
    .child:nth-last-child(1) .newname {
      border-bottom: 3px solid #9b2557;
    }
    
    .newswrap:nth-last-child(-n+3) {
      border-bottom: 3px solid #9b2557;
    }
    
    .claniceminigrid:nth-last-child(-n+3) {
      border-bottom: 3px solid #9b2557;  
    }




    /*
    .claniceminigrid, .newsminigrid {
      border-top: 3px solid #9b2557;  
    }
*/


/*
    .nav-link.w-inline-block.w--current:before, .underline::before {
      border-bottom: solid 3px #9b2557;
    }
    */
    .swiper-pagination-bullet {
      height: 3px;
    }



    /* OVO JR UGAŠENO */
    /*
    .child2:nth-child(1) .newname {
      border-top: 3px solid #9b2557;
    }
    .child2:nth-last-child(1) .newname {
      border-bottom: 3px solid #9b2557;
    }
*/

  }

 
  @media (min-width: 1600px) and (max-width:1999px) {

    /* RICH TEXT PRVA FOTKA */



    /*
  .contactwrap, .footersponzorwrap  {
    border-top: 4px solid #9b2557;
}
  .child:nth-child(1) .newname {
    border-top: 4px solid #9b2557;
  }
  
  .child:nth-last-child(1) .newname {
    border-bottom: 4px solid #9b2557;
  }
  
  .newswrap:nth-last-child(-n+3) {
    border-bottom: 4px solid #9b2557;
  }
  
  .claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 4px solid #9b2557;  
  }




/*
  .claniceminigrid, .newsminigrid {
    border-top: 4px solid #9b2557;  
  }
*/


/*

  .nav-link.w-inline-block.w--current:before, .underline::before {
    border-bottom: solid 4px #9b2557;
  }
  */
  .swiper-pagination-bullet {
    height: 4px;
  }

  /*
  .child2:nth-child(1) .newname {
    border-top: 4px solid #9b2557;
  }
  .child2:nth-last-child(1) .newname {
    border-bottom: 4px solid #9b2557;
  }
*/
}
  @media (min-width: 2000px) and (max-width:2399px) {



    /*
  .contactwrap, .footersponzorwrap {
    border-top: 5px solid #9b2557;
}
  .child:nth-child(1) .newname {
    border-top: 5px solid #9b2557;
  }
  
  .child:nth-last-child(1) .newname {
    border-bottom: 5px solid #9b2557;
  }
  
  .newswrap:nth-last-child(-n+3) {
    border-bottom: 5px solid #9b2557;
  }
  
  .claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 5px solid #9b2557;  
  }


  /*
  .claniceminigrid, .newsminigrid {
    border-top: 5px solid #9b2557;  
  }
  */


/*  
  .nav-link.w-inline-block.w--current:before, .underline::before {
    border-bottom: solid 5px #9b2557;
  }
  */
  .swiper-pagination-bullet {
    height: 5px;
  }

  /*
  .child2:nth-child(1) .newname {
    border-top: 5px solid #9b2557;
  }
  .child2:nth-last-child(1) .newname {
    border-bottom: 5px solid #9b2557;
  }
*/
  }

  @media (min-width: 2400px) {
  
  



    /*
  .contactwrap, .footersponzorwrap {
    border-top: 5px solid #9b2557;
}

  
  .child:nth-child(1) .newname {
    border-top: 5px solid #9b2557;
  }
  
  .child:nth-last-child(1) .newname {
    border-bottom: 5px solid #9b2557;
  }
  
  .newswrap:nth-last-child(-n+3) {
    border-bottom: 5px solid #9b2557;
  }
  
  .claniceminigrid:nth-last-child(-n+3) {
    border-bottom: 5px solid #9b2557;  
  }



  /*
  .claniceminigrid, .newsminigrid {
    border-top: 5px solid #9b2557;  
  }
  */


  /*
  .nav-link.w-inline-block.w--current:before, .underline::before {
    border-bottom: solid 5px #9b2557;
  }
  */
  .swiper-pagination-bullet {
    height: 5px;
  }

  /*
  .child2:nth-child(1) .newname {
    border-top: 5px solid #9b2557;
  }
  .child2:nth-last-child(1) .newname {
    border-bottom: 5px solid #9b2557;
  }
  */
  }

/*
================================================================================
KILL FOCUS ON ALL BUT WITH ACCESIBILITY
================================================================================
*/
/* .swiper-button-n:focus,
.swiper-button-p:focus { 
outline: none; } */
  

/** 
 /* Focusing the button with a keyboard will show a dashed black line. */

 *:focus-visible input { 
 /* outline: 1px black; */
 border-color: #000 #000 #f5f4f18e;
 /* outline: 0 !important;
 box-shadow:
    0 0 0 .2rem #fff, /* use site bg color to create whitespace for faux focus ring */
   /* 0 0 0 .35rem #069 !important; /* faux focus ring color */
}

/**
 * Undo the above focused button styles when the element received focus
 * via mouse click or touch, but not keyboard navigation.
 */
*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}




/*
================================================================================
SWIPER KILL NAV IF NO SLIDES
================================================================================
*/

.swiper-wrapper.disabled {
  transform: translate3d(0px, 0, 0) !important;
}
.swiper-pagination.disabled {
  display: none;
}

/*
================================================================================
SWIPER HIDE NAV ON START AND END
================================================================================
*/

.swiper-button-n, .swiper-button-p {
  transition: opacity .5s;
}

.swiper-button-disabled {
   opacity: 0 !important;
}




/*
================================================================================
COOKIE SKIN
================================================================================
*/
.ch2-theme-bar .ch2-dialog-content {
  padding-right: 9.5em!important;
  align-self: flex-end!important;
}
.ch2-container, .ch2-icon {
  font-family: 'Nimbussansdot regu', sans-serif!important;
  /* font-family: sans-serif; */
   font-size: 1vw; 
  /* line-height: 1; */
}

.ch2-style-light .ch2-dialog {
  background: #9b2557!important;
}

.ch2-style-light .ch2-btn-secondary {
    background: transparent !important;
    color: #f5f4f1 !important;
}
.ch2-theme-bar .ch2-dialog {
    box-shadow: 0 0 0px 0 rgba(0,0,0,0) !important;
}
.ch2-theme-bar .ch2-dialog p {
    font-size: 1.125em  !important;
    line-height: 1.1;
color: #f5f4f1 !important;
}
.ch2-style-light .ch2-btn-primary, .ch2-style-dark .ch2-btn-primary {
    background: #9b2557 !important;
}
.ch2-btn:hover {
    box-shadow: 0 0 0px 0 rgba(0,0,0,.4) !important;
}
.ch2-btn {
  font-family: 'Nimbussansdot regu', sans-serif !important;
    box-shadow: 0 0 0px 0 rgba(0,0,0,.4) !important;
    padding: 0.850em 1em !important;
    font-size: 1.125em !important;
    font-weight: 700 !important;
}
.ch2-style-light .ch2-btn-primary {
    background: #9b2557 !important;
    color: #f5f4f1 !important;
}
.ch2-dialog-content p:first-child {
    display: none !important;
}
.ch2-dialog-content a {
   font-size: 1.125em !important;
    color: #9b2557 !important;
    cursor: pointer !important;
}
.ch2-style-light .ch2-dialog-content a {
    border-bottom: 1px solid #9b2557 !important;
}

.ch2-container, .ch2-icon {
  font-size: 1vw  !important;
  line-height: 1.3em !important;
}
.ch2-theme-bar .ch2-dialog-actions button {
    min-width: auto !important;
}
.ch2-theme-bar .ch2-dialog-actions button:first-child {
    margin-right: 3em !important;
}  

.ch2-theme-bar .ch2-dialog {
  padding: 0.850em 5em !important;
}

.ch2-theme-bar .ch2-dialog-actions {
  margin-left: 15em!important;
}

.ch2-dialog-actions button {
  height: 0.813em!important;
  margin-right: -0.95em!important;
}

.ch2-container, .ch2-icon {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.3;
  text-transform: none;
}

/*
================================================================================
VARIOUS FIXES
================================================================================
*/

.mobile-li:nth-last-child(1), .doc-module:nth-last-child(1) {
  margin-bottom:0; 
 }


/* HOMEPAGE TAB CRTICA BEFORE*/
 .tabwrap.w--current:before {
  color: #9b2557;
 /* content: "—  ";*/
  content: "";
border-bottom: solid 3px #9b2557;
position: absolute;
left: 0;
/*top: 0.9em;*/
width: 1em;
}


/* ICON TEXT - DOC EXTENSION */
.extension {
  font-size: 1.0em;
}

/* DATUM U TEXT TEMPLATEU FIX */
.div-block-4 {
  top: 0.4em;
}

/* SCROLL UP KONTAKT PAGE ICON*/
.upwrap.kontakt.w--current {
  margin-top: 9.9em;
}

/*DOCUMET EXTENSION*/
.extension {
  bottom: 0.85em; 
} 


/* DATUM NOVOSTI */
.home-sub {
  margin-left: -0.125em;
}

/* GLAVNI NASLOV */
.mainheading {
  margin-left: -0.06em;
}

/* SEARCH RESULTS MARGIN LEFT FIX */
.searchresultswrap {
  list-style-type: none;
  margin-left: -2.8em;
}

/* SEARCH RESULTS HIGHLIGHT */
.searchcontentwrap .search-excerpt {
 background-color: #9b2557;
 color:#f5f4f1;
 padding: 0.3em 0.3rem 0.2em;
 
}

/*REDNI BROJ BOTTOM RAZMAK SEARCH RESILTS*/
.searchredni.bottom {
  margin-bottom: 0.8em;
}